<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- style bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!-- My Style CCS -->
    <link rel="stylesheet" href="../../css/style.css">
<!-- iconos -->
    <script src="https://kit.fontawesome.com/74d7ecf815.js" crossorigin="anonymous"></script>
<!-- FONTS FIJAS-->   
<!-- font ppal acier -->        
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- font secundaria rift -->
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- font secundaria museoslab -->
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- FONTS ALTERNATIVAS -->
<!-- font archistico -->
    <link href="https://fonts.cdnfonts.com/css/archistico" rel="stylesheet">
<!-- titulo -->
<title>BLOG</title>

</head>
<body class="parallaxblog">
    <header>
        <!--NAV-BAR-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-scrolled">
            <!-- Container wrapper -->
            <div class="container-fluid">
              <!-- Navbar brand -->
              <a class="navbar-brand" href="../../index.html"><img class= "logo lg-animation" src="../../assets/img/logo172x172.png" alt="logoindexdemovimientolearn"/></a>
              <!-- Toggle button -->
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
        
              <!-- Collapsible wrapper -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="active" aria-current="page" href="../nosotros.html">NOSOTRXS</a>
                    </li>
                    <li class="nav-item">
                        <a href="../blog.html">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="../contacto.html">CONTACTO</a>
                    </li>
                  <!-- Navbar dropdown -->
                  <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="../cursos.html"
                        id="navbarDropdown"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                    >
                    CURSOS
                    </a>
                <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CURSOS DOCENTES</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CURSOS DE INGLÉS</a>
                        </li>
                    </ul>
                </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="../tienda.html"
                            id="navbarDropdown"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                        >
                        TIENDA
                        </a>
                    <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">AGENDA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">PLANIFICADORES</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CALIFICADORES</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">SECUENCIAS DIDÁCTICAS</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="justify-content-end action-buttons ml-auto navbar navbar-expand-lg">
                    <a href="../login.html" class="btn main-btn">INICIAR</a>
                </div>
                <!-- Left links -->
              </div>
              <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
          <!-- Navbar -->
    </header>
<main>
    <h1>Bienvenidos al Blog</h1>
</main>

<p>
    ¡Bienvenidos a mi blog! Soy una docente apasionada que ama lo que hace, pero no puedo evitar enojarme con el sistema a veces. Sin embargo, esto no me impide seguir adelante y hacer lo que amo: enseñar.
Me encanta ver el brillo en los ojos de mis estudiantes cuando finalmente comprenden un tema difícil, o cuando comparten conmigo sus logros y metas. Soy una firme creyente de que la educación es un camino hacia la libertad y la transformación social, y me siento afortunada de poder desempeñar un papel en este proceso.
Sin embargo, también entiendo las limitaciones y las dificultades del sistema educativo. A menudo, me siento frustrada por las prácticas que limitan mi capacidad para enseñar de manera efectiva y adaptarme a las necesidades individuales de mis estudiantes.
Pero, a pesar de estas dificultades, no me rindo. Continúo luchando por mis estudiantes y por una educación que sea verdaderamente inclusiva y transformadora. Y este blog es un espacio donde puedo compartir mis pensamientos, reflexiones y experiencias en este camino.
Aquí encontrarás artículos sobre temas relacionados con la educación, desde técnicas de enseñanza efectivas hasta la importancia de la educación emocional y social. También compartiré mis experiencias personales como docente y reflexionaré sobre los desafíos que enfrentamos en el sistema educativo.
Espero que este blog te inspire y te ayude a reflexionar sobre tu propio papel en la educación. Juntos podemos hacer una diferencia y trabajar hacia una educación más inclusiva, efectiva y transformadora. ¡Gracias por visitar mi blog y por ser parte de esta comunidad educativa!
</p>