<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- style bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!-- My Style CCS -->
    <link rel="stylesheet" href="../../css/style.css">
<!-- iconos -->
    <script src="https://kit.fontawesome.com/74d7ecf815.js" crossorigin="anonymous"></script>
<!-- FONTS FIJAS-->   
<!-- font ppal acier -->        
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- font secundaria rift -->
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- font secundaria museoslab -->
    <link rel="stylesheet" href="https://use.typekit.net/dke8jqp.css">
<!-- FONTS ALTERNATIVAS -->
<!-- font archistico -->
    <link href="https://fonts.cdnfonts.com/css/archistico" rel="stylesheet">
<!-- titulo -->
<title>BLOG</title>

</head>
<body class="parallaxblog">
    <header>
        <!--NAV-BAR-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-scrolled">
            <!-- Container wrapper -->
            <div class="container-fluid">
              <!-- Navbar brand -->
              <a class="navbar-brand" href="../../index.html"><img class= "logo lg-animation" src="../../assets/img/logo172x172.png" alt="logoindexdemovimientolearn"/></a>
              <!-- Toggle button -->
              <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <i class="fas fa-bars"></i>
              </button>
        
              <!-- Collapsible wrapper -->
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="active" aria-current="page" href="../nosotros.html">NOSOTRXS</a>
                    </li>
                    <li class="nav-item">
                        <a href="../blog.html">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="../contacto.html">CONTACTO</a>
                    </li>
                  <!-- Navbar dropdown -->
                  <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="../cursos.html"
                        id="navbarDropdown"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                    >
                    CURSOS
                    </a>
                <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CURSOS DOCENTES</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CURSOS DE INGLÉS</a>
                        </li>
                    </ul>
                </li>
                    <li class="nav-item dropdown">
                        <a
                            class="nav-link dropdown-toggle"
                            href="../tienda.html"
                            id="navbarDropdown"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false"
                        >
                        TIENDA
                        </a>
                    <!-- Dropdown menu -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">AGENDA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">PLANIFICADORES</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">CALIFICADORES</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="https://learnmovimiento20230308220242.mercadoshops.com.ar/" target="_blank">SECUENCIAS DIDÁCTICAS</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="justify-content-end action-buttons ml-auto navbar navbar-expand-lg">
                    <a href="../login.html" class="btn main-btn">INICIAR</a>
                </div>
                <!-- Left links -->
              </div>
              <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
          <!-- Navbar -->
    </header>
<main>
   <h1>La importancia de la inclusión en el aula</h1> 
</main>

<p>

La inclusión es un tema que está en el centro de muchos debates en el mundo de la educación. Se trata de un concepto que implica no solo la aceptación, sino la celebración de la diversidad. Cuando hablamos de inclusión en el aula, nos referimos a la creación de un ambiente seguro y acogedor en el que todos los estudiantes se sientan valorados y respetados, independientemente de su origen cultural, orientación sexual, género, discapacidad, etc.
Uno de los autores que ha abogado por la inclusión en la educación es Paulo Freire, quien creía que la educación debía ser un proceso de liberación y transformación social. Freire defendía que la inclusión era esencial para este proceso, ya que solo cuando se incluye a todos los estudiantes se puede lograr una educación verdaderamente transformadora.
Gabriel Brenner y Karina Kaplan también han escrito sobre la importancia de la inclusión en el aula. En su libro "Inclusión y diversidad en la escuela", Brenner y Kaplan argumentan que la inclusión no solo es una cuestión moral, sino que también es esencial para el aprendizaje y el desarrollo de los estudiantes. Los autores creen que la inclusión permite a los estudiantes aprender de diferentes perspectivas y desarrollar habilidades sociales y emocionales importantes.
En resumen, la inclusión en el aula es fundamental para garantizar una educación transformadora y equitativa para todos los estudiantes. Al crear un ambiente acogedor y seguro para todos los estudiantes, se les brinda la oportunidad de aprender de diferentes perspectivas y desarrollar habilidades importantes que les servirán en su vida adulta.</p>