nav {
	width: 100%;
	transition: background-color 1s ease 0s;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);

}


.navbar-scrolled{
	background-color: nth($color , 6 );
	backdrop-filter: blur (15rem);
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}


.lg-animation {
	&:hover {
		transform: rotate(-180deg);
	}
}


li, .dropdown {
	a {
		text-decoration:  map-get($decolinks , no-deco);
		font-family: nth($font-family , 3);
		font-weight: bold;
		font-size: nth($sizes , 5 );
		color: nth($color , 7);
        @extend %disposition;
		&:hover {
			background-color: nth($color , 1);
			}
	}
	display: inline-block;
	width: 25%;
	position: relative;
	font-size: nth($sizes , 3);
}

ul {
	text-decoration:  map-get($decolinks , no-deco);
	list-style: map-get($decolinks , no-deco);
	font-size: nth($sizes , 5);
	margin:nth($sizes , 1);
	padding: nth($sizes , 1);
	ul {
		position: absolute;
		display: none;
		li {
			display: block;
            a {

                font-family: nth($font-family , 3);
		        font-size: nth($sizes , 5 );
		        color: nth($color , 7);
                text-decoration: map-get($decolinks , no-deco);
                margin:nth($sizes , 7);
                padding: nth($sizes , 7);
            }
		}
	}
	li {
		&:hover {
			ul {
				display: block;
			}
		}
	}
}