/* PARALLAX */
.parallax {
    background-image: url("../assets/texturas/whitepapertexture.png");
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

   }
   
.parallaxblog {
    background-image: url('/assets/texturas/mathpapertexture.png');
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width:100% ;
   }